@page "/"
@using AutoUpdater.Logic;


<h1>Hello.</h1>

What do you want to do?

<br>

<button class="btn btn-primary" @onclick="UpdateEkasut">
    Update Ekasut
</button>

@code
{
    public async Task UpdateEkasut()
    {
        await BuildLogic.BuildEkasut();
    }
}

