@page "/LogPage"
@using AutoUpdater.Logic;
@using Microsoft.Extensions.DependencyInjection;
@inherits OwningComponentBase

<h1>Логи Автоапдейтера</h1>

<ul>
    @foreach (var str in memorySink)
    {
        <li>@str</li>
    }
</ul>


@code {

    private string[] memorySink { get; set; }

    protected override void OnInitialized()
    {
        memorySink = ScopedServices.GetRequiredService<InMemorySink>().Events.ToArray();
    }


}