@page "/LogPage"
@using AutoUpdater.Logic;
@using Microsoft.Extensions.DependencyInjection;
@inherits OwningComponentBase

<h1>Логи Автоапдейтера</h1>

<br />
<button class="btn btn-primary" @onclick="Clear">
    Clear logs
</button>
<br />

<ul>
    @foreach (var str in LogEvents)
    {
        <li>@str</li>
    }
</ul>


@code {

    private List<string> LogEvents { get; set; }
    private InMemorySink memorySink { get; set; }

    protected override void OnInitialized()
    {
        memorySink = ScopedServices.GetRequiredService<InMemorySink>();
        LogEvents = memorySink.Events.ToList();
    }


    protected async Task Clear()
    {
        memorySink.Clear();
        LogEvents.Clear();
        this.StateHasChanged();
    }
}