@page "/TokenPage"
@using AutoUpdater.Helpers;
@using CurrieTechnologies.Razor.Clipboard;
@inject ClipboardService clipboard

<h3>Текущий dev-токен</h3>

<div style=" word-wrap:break-word; width: 600px">
    @CurrentToken
</div>

<br />

<button class="btn btn-primary" @onclick="(async e => await clipboard.WriteTextAsync(CurrentToken))">Copy To Clipboard</button>


@code {
    private string CurrentToken = EkasutJWTHelper.CreateToken(new Models.EkasutUserAcess() { UserId = 0 });
}
